@use '@/styles/variables' as *;

.modal {
	border: none;
	margin: auto;
	background-color: $white;
	border-radius: 16px;
	padding: 100px;
	position: relative;

	&[open] {
		animation: fadeIn 0.3s ease-in-out;
	}

	&::backdrop {
		background-color: rgba($black, 0.5);
	}
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 52px;
	height: 52px;
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: $dark-blue;

		&::before,
		&::after {
			background-color: $white;
		}
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 24px;
		height: 3px;
		background-color: $gray-950;
		border-radius: 2px;
		transition: background-color 0.3s ease-in-out;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
