@use '@/styles/variables' as *;

.input {
	@include input-base;
	width: 100%;
	font-weight: 400;

	&:focus {
		outline: none;

		&::placeholder {
			opacity: 0;
		}
	}
}

.dark {
	background-color: $gray-950;
	color: $gray-100;
}

.light {
	border: 1px solid $gray-300;

	&:focus {
		border-color: $blue;
	}
}
