@use '@/styles/variables' as *;

.header {
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, $gray-900 0%, $gray-950 100%);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	padding: 30px;
}

.navigation {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;

	@media (max-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}
}
