@use '@/styles/variables' as *;

.title {
	color: $dark-blue;
	margin-bottom: 40px;
	text-align: center;
}

.container {
	width: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 8px;
	position: relative;
}

.label {
	font-size: 14px;
	font-weight: 500;
	color: $gray-950;
}

.error {
	color: $red;
	font-size: 12px;
	margin-top: 4px;
	display: block;
	position: absolute;
	bottom: -15px;
}
