@use '@/styles/variables' as *;

.title {
	color: $dark-blue;
	margin-bottom: 40px;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 8px;
	position: relative;
}

.label {
	font-size: 14px;
	font-weight: 500;
	color: $gray-950;
}

.fileInfo {
	margin: 8px 0 0 0;
	font-size: 14px;
	color: $gray-950;
	font-style: italic;
}

.error {
	color: $red;
	font-size: 12px;
	margin-top: 4px;
	display: block;
	position: absolute;
	bottom: -15px;
}

.result {
	padding: 12px;
	border-radius: 6px;
	font-size: 14px;
	text-align: center;
	color: $blue;
}

.actions {
	display: flex;
	gap: 12px;
	justify-content: flex-end;
	margin-top: 24px;
}

.cancelButton {
	padding: 12px 24px;
	background-color: $gray-900;
	color: $white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	transition: background-color 0.2s ease;

	&:hover:not(:disabled) {
		background-color: $gray-950;
	}
}

.submitButton {
	padding: 12px 24px;
	background-color: $blue;
	color: $white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	transition: background-color 0.2s ease;

	&:hover:not(:disabled) {
		background-color: $dark-blue;
	}

	&:disabled {
		background-color: $gray-950;
		cursor: not-allowed;
	}
}
